<ion-header [translucent]="true">
  <ion-toolbar class="custom-header">
    <ion-title class="ion-text-light custom-title text-center">Blok</ion-title>
    <ion-buttons slot="start" color="light" class="custom-menu-button">
      <ion-menu-button style="color:white"></ion-menu-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content style="--background: url('../../assets/bg1.jpg') center center / cover no-repeat;" [fullscreen]="true">
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card class="notification-card" *ngFor="let data of blokData">
    <ion-card-header>
      <ion-card-title class="white-text"></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ data.judul_info }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
